# Reading in the CONUS 2019 Raster Data Using Rasterio

## Import modules

In [8]:
import rasterio
import numpy as np
import pandas as pd

## Reading in raster data as Numpy array

In [3]:
with rasterio.open(
    "C:/Users/stevenysy/Desktop/VDS-Team-Data-Share/VDS Team Data Share/CONUS2019_ClipAOI.tif",  # Need to change path later
    "r",
) as ds:
    arr = ds.read()


print(arr.shape)  # The array's dimensions, in the format (band, row, col)
print(arr.size)

(1, 17975, 35165)
632090875

We are not interested in the band since we only have one, so we will discard that dimension

In [4]:
data = arr[0]
data.shape

(17975, 35165)

Printing out the attribute table, we see that it aligns with the attribute table seen in ArcGIS

In [10]:
unique, counts = np.unique(arr, return_counts=True)
attribute_table = np.asarray((unique, counts)).T

pd.DataFrame(data=attribute_table, columns=["Attribute", "Count"])

    Attribute      Count
0           0  220724991
1          11    8471189
2          21   22137713
3          22   10743946
4          23    5061949
5          24    1799050
6          31     767390
7          41  146546133
8          42   18184425
9          43   37906619
10         52    5864669
11         71    5075786
12         81   66465940
13         82   66194708
14         90   14991273
15         95    1155094

In [6]:
# Picking a random point
data[7000][17000]

23